<h1>Your Medications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosage form</th>
      <th>Product number</th>
      <th>Active ingredient(s)</th>
      <th>Market status</th>
      <th>TE code</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.name %></td>
        <td><%= medication.form %></td>
        <td><%= medication.prod_number %></td>
        <td><%= medication.active_ingredients %></td>
        <td><%= medication.market_status %></td>
        <td><%= medication.TE_code %></td>
        <td><%= application.company %></td>
        <td><%= link_to 'Show', medication %></td>
        <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
        <td><%= link_to 'Delete', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication', new_medication_path %>