<p id="notice"><%= notice %></p>

<p>
  <strong>Dosage:</strong>
  <%= @prescription.dosage %>
</p>

<p>
  <strong>Active:</strong>
  <%= @prescription.active %>
</p>

<p>
  <strong>Time:</strong>
  <%= @prescription.time %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @prescription.medication_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient_id %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
